.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
width : 70%;
margin-top: 30px;

}
.search-form {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px;
    width: 50%; /* Set desired width */
    margin: 0 auto; /* Center horizontally */
}


.search-select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-input {
    width: 100px; /* Set desired width */
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}
